<!DOCTYPE html>
<html>

    <head>
        <title>Calculus Problems Page</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
    </head>

    <body>
        <h1>Welcome to the indefinite integrals practice problems page!</h1>
        &#x2705; <a href="{% url 'calc_probs:check' %}">Check an answer.</a> &#x2705;
        <br><br>
        &#x1F913; <a href="{% url 'calc_probs:random_problem' %}">Take me to a random problem.</a> &#x1F913;
        <br>
        <br>

        <h2>Problem List</h2>
            <ul>
                {% for question in integral_question_list %}
                    <li>    Problem {{ question.id }}:
                            <a href="{% url 'calc_probs:detail' question.id %}">\({{ question.latex_integral}}\)</a>
                            ({{ question.technique }})
                            <br><br>
                    </li>
                {% endfor %}
            </ul>

        <h3>Filter by technique</h3>
        <form action="" method="GET">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>

        <p>Technique options:
            <ul>
            <li>basic</li>
            <li>u-substitution</li>
            <li>integration by parts</li>
            <li>trig substitution</li>
            <li>partial fraction decomposition</li>
            <li>leave blank (gives all problems)</li>
            </ul>
        </p>

    </body>

</html>